<!-- This should only be used to display unapproved comments -->
<table>
  <thead>
    <th>Comment</th>
    <th colspan="3"></th>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.content %></td>
      <td><%= label(:approved, "Approved?")%></td>
      <td><%= check_box(:approved, comment.approved) %></td>

    </tr>
  <% end %>
  </tbody>
</table>


