<h4 align="center">Hi, my name is Alex Quel Lien</h4>
<div></div>

<p>I believe you should hire me. I am very motivated to succeed,
  and I am learning how to make websites look awesome.
  I'm very conscientious, and I try to be thorough in my work.
  I'm willing to admit to and learn from my mistakes,
  and can recognize faults - such as the fact that this webpage is not awesome yet.
  I'm getting there, though!</p>

