<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post, class: "button radius" %>
<%= link_to 'Back', posts_path, class: "button radius" %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "button radius" %>
